.header {
  background-color: var(--background);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-inactive-color);
  padding: 16px 20px;
  white-space: nowrap;
}

.link_active {
  color: var(--text-primary-color);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.link_position_last {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  text-decoration: none;
  color: var(--text-inactive-color);
  padding: 16px 20px;
  white-space: nowrap;
}
